<h2>Log-In Page</h2>
<h3>Please enter your Email and Password below</h3>


<form action="Redirect" method="get">
    <p>Email: </p><input type="email" name="Email" required /><br />
    <br />
    <p>Password: </p><input type="password" name="Password" required /><br />
    <br />
    <input type="submit" />
</form>

