<h2>Register Here to Create a Personal TaskList</h2>

<form action="Create" method="get">
    <p>Email: </p><input type="email" name="Email" required /><br />
    <br />
    <p>Password: </p><input type="password" name="Password" required /><br />
    <br />
    <input type="submit"/>
</form>